* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    user-select: none;
    align-items: center;
    font-family: miCross;
    justify-content: center;
    font-size: calc(10px + .33vw);
    background-image: url("bg.png");
    -webkit-font-smoothing: antialiased;
}

fieldset {
    height: 15rem;
    padding: 1em;
    position: relative;
}

.tb {
    width: fit-content;
    background: silver;
}

.cntr {
    align-items: center;
    text-align: center;
}

.downintf {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

@font-face {
    font-family: miCross;
    src: url(micross.ttf);
}

.button {
    color: black;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1.25rem;
    line-height: 1.5;
    background: silver;
    border-radius: 1px;
    border-width: 2px;
    border-style: outset;
    transition: .2s;
    Padding-left: 1em;
    Padding-right: 1em;
    width: fit-content;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
}

.button:hover {
    transition: .2s;
    font-size: 1.20rem;
    border: 2px inset #fff;
    background: silver;
    color: #424242;
    box-shadow: -1px -1px #000;
}

.copyright {
    right: 1em;
    bottom: 0;
    height: 2.5em;
    position: fixed;
}