body .cursor {
    pointer-events: none;
}

body .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}

body .cursor__ball circle {
    fill: #f7f8fa;
}